.container{
    display: grid;
    grid-template-columns:1fr 3fr;
    grid-template-areas: "title title"
                         "sidebar main"
                         "footer footer";

    grid-gap:0; margin:0; padding:0; border:solid 2px black;
    width: 100vw;
    height: 100vh;
    ;
}
.title_class{
    background-color: rgba(161, 100, 62, 0.437);
    border: solid 1px black;
     grid-area: title;
     display: flex;
     justify-content:space-between;
     align-items: center;
     font-size: 2em;
    margin: 0;
    }

.slidebar_class{background-color: red;
    ;border: solid 1px black;
     grid-area: sidebar;

    }

.main_class{background-color: blue;;border: solid 1px black; grid-area: main;min-height: 50vh;}

.footer_class{background-color: rgba(161, 100, 62, 0.437);
    border: solid 1px black;
    grid-area: footer;
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-direction: column;
    

    }

.center{
    justify-content: center;
    text-align: center;
}

.img{
    width: 2em;
    height: 2em;

}

a{
    color: black;
    text-decoration: none;
}

ul.a{
    list-style-type: none;
}

ul li{
    border: 1px solid black;
}








.bg{
    background-image:linear-gradient(peachpuff, cornsilk);
}

h1{
    font-family:Arial;
}

h2{
    font-family:Arial;
}

table,th,td{
    border: 0.5px solid black;
     border-collapse: collapse
}

.schoolbg{
    background-color: #C4C4C4;
}

.title_sch{
    background-color: #F1F7C1;
}

.elem{
    background-color: #EAECDB;
}

.mid{
    background-color: #CED1AE;
}

.high{
    background-color: #B1B687;
}

.lastl{
    background-color: #89904C;
}

